* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(27, 26, 26);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-family: Montserrat;
  align-items: center;
  height: 60px;
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgb(60, 60, 76);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
  font-style: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav ul li a:hover {
  color: black;
  border-radius: 50px;
  background-color: rgb(202, 189, 243);
  padding: 14px 17px 14px 17px;
}

/* FIRST SECTION */

.firstSection {
  display: flex;
  justify-content: space-around;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-family: "Unbounded", cursive;
  font-size: 4rem;
  font: #d8d9da;
  margin-top: 10rem;
  margin-bottom: 15%;
  margin-left: 100px;
  flex-grow: 0.7;
}

.rightSection img {
  margin-top: 6rem;
  width: 90%;
}

.gry {
  color: rgb(155, 155, 233);
}

#element {
  color: rgb(155, 155, 233);
}

/* SECOND SECTION */

.secondSection {
  margin-left: 100px;
  height: 100vh;
}

.secondSection h1 {
  font-family: "Unbounded", cursive;
  font-size: 4rem;
  margin-left: 25rem;
  margin-top: 4rem;
}

.About {
  display: flex;
  justify-content: space-around;
}

main hr {
  border: 0;
  background: rgb(155, 155, 233);
  border-radius: 50px;
  height: 1.2px;
  margin: 40px 84px;
}

.Myimg {
  width: 26%;
  margin-left: 7rem;
  margin-top: 6rem;
  border: 0px solid rgb(155, 155, 233);
  border-radius: 50%;
  background-color: rgb(155, 155, 233);
}

p {
  font-family: Montserrat;
  text-align: left;
  font-size: 1.2rem;
  width: 42%;
  height: 10%;
  margin-top: 9rem;
  margin-right: 11rem;
  text-align: left;
  line-height: 2rem;
}

.Resume {
  text-decoration: none;
  font-family: Montserrat;
  background: rgb(155, 155, 233);
  padding: 10px 18px 10px 18px;
  border-radius: 10px;
  border: 0px solid;
  font-style: none;
  color: black;
  letter-spacing: 1px;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 5rem;
  margin-top: 22rem;
}

.GitHub {
  text-decoration: none;
  font-family: Montserrat;
  background: rgb(155, 155, 233);
  padding: 4px 5px 4px 6px;
  border-radius: 10px;
  border: 0px solid;
  font-style: none;
  letter-spacing: 1px;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 9rem;
  margin-top: 22rem;
}

.LinkedIn {
  text-decoration: none;
  font-family: Montserrat;
  background: rgb(155, 155, 233);
  padding: 4px 5px 4px 6px;
  border-radius: 10px;
  border: 0px solid;
  font-style: none;
  letter-spacing: 1px;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 17rem;
  margin-top: 22rem;
}

.fa-github {
  color: black;
}
.fa-linkedin {
  color: black;
}
a:hover i {
  transform: scale(1.1);
}

.secondSection a:hover {
  background: rgb(113, 113, 175);
  transition: all;
}

main hr {
  border: 0;
  background: rgb(155, 155, 233);
  border-radius: 50px;
  height: 2px;

  margin: 40px 84px;
}

/*THIRD SECTION*/

.thirdSection {
  margin-left: 100px;
  height: 100vh;
}

.thirdSection h1 {
  font-family: "Unbounded", cursive;
  font-size: 4rem;
  margin-left: 25rem;
  margin-top: 4rem;
}

.projects {
  margin-top: 7rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.project1 {
  width: 17rem;
  height: 20rem;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid lightgray;
  font-family: "Montserrat", sans-serif;
  background: rgb(155, 155, 233);
  margin-right: 5rem;
}

.img1 {
  width: 100%;
  border-radius: 14px;
}

.thirdSection h2 {
  margin-top: 2px;
  color: black;
  font-family: "Unbounded", cursive;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 700;
}

.thirdSection h4 {
  width: 100%;
  height: 10%;
  font-weight: 650;
  margin-top: 1rem;
  color: black;
  border-radius: 12px;
}

.project2 {
  width: 17rem;
  height: 20rem;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid lightgray;
  font-family: "Montserrat", sans-serif;
  background: rgb(155, 155, 233);
  margin-right: 5rem;
}

.img2 {
  width: 100%;
  border-radius: 14px;
}

.project3 {
  width: 17rem;
  height: 20rem;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid lightgray;
  font-family: "Montserrat", sans-serif;
  background: rgb(155, 155, 233);
  margin-right: 5rem;
}

.img3 {
  width: 100%;
  border-radius: 14px;
}

/* FOURTH SECTION */

.fourthSection {
  height: 120vh;
  margin-left: 100px;
}

.fourthSection h1 {
  font-family: "Unbounded", cursive;
  font-size: 4rem;
  margin-left: 25rem;
  margin-top: 4rem;
}
.memimg {
  width: 22%;
  height: 22%;
  margin-top: 11rem;
}
.Contact {
  display: flex;
  justify-content: space-around;
}

.ContactCard {
  background-color: rgb(155, 155, 233);
  border-radius: 15px;
  width: 40%;
  padding-top: 15px;
  padding-top: 15px;
  margin-top: 7rem;
  margin-right: 10%;
}

.ContactCard h2 {
  font-family: "Unbounded", cursive;
  color: black;
  margin-left: 23%;
  margin-bottom: 10px;
  font-size: 2rem;
  padding: 10px;
}

input {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 13px;
  border: 1px solid;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

textarea {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 13px;
  border: 1px solid;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
}

input:focus-within {
  outline: none;
  border-color: black;
  border-width: 2px;
}

textarea:focus-within {
  outline: none;
  border-color: black;
  border-width: 2px;
}

.fourthSection button {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  border-radius: 12px;
  color: white;
  border: 0px solid;
  font-size: 22px;
  font-weight: 500;
  padding: 7px 25px;
  text-align: center;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  margin-right: 43%;
}

.fourthSection button:hover {
  background-color: rgb(45, 45, 52);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: rgb(113, 113, 175);
}

.footerContainer {
  width: 95%;
  padding: 70px 30px 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  background-color: black;
  margin: 13px;
}

.f-Resume {
  text-align: center;
  border-radius: 12px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 13px 12px 0px 12px;
  justify-content: center;
  font-weight: 700;
}

.f-GitHub {
  border-radius: 50%;
  color: white;
  padding: 4px;
  font-size: large;
  padding-left: 7px;
  padding-top: 6px;
  width: 3%;
}

.f-LinkedIn {
  border-radius: 50%;
  color: white;
  padding: 5px;
  padding-top: 6px;
  justify-content: center;
  width: 3%;
  font-size: 31px;
  text-align: center;
}

.social-icons a:hover {
  background-color: rgb(35, 33, 33);
  transition: 0.4s;
}

.social-icons a i {
  color: white;
}

.footer-nav {
  margin: 30px 0;
  font-family: "Montserrat", sans-serif;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

.footer-nav ul li {
  list-style: none;
}

.footer-nav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  list-style: none;
  font-size: 1.3em;
  font-weight: 500;
  transition: 0.3s;
  margin-top: 20px;
}

.footer-nav ul li a:hover {
  color: rgb(18, 17, 17);
}

.footer-bottom {
  display: flex;
}

.footer-bottom p {
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-left: 33%;
  margin-bottom: 30px;
  font-weight: 500;
}

.Designer {
  text-transform: uppercase;
  font-family: "Unbounded", cursive;
  margin: 0px 5px;
  font-weight: lighter;
}

@media (max-wdth: 700px) {
  .footer-nav ul {
    flex-direction: column;
  }
  .footer-nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
